/*
This is the font used for the website
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

/*
This adds padding to the content if the screen is too small so that elements do
not get covered by the footer
*/

@media screen and (max-height: 750px) {
  body {
    padding-bottom: 60px;
  }
}

/*
This keeps the footer from covering content on medium screens (like tablets)
*/

@media screen and (max-height: 850px) {
  body {
    padding-bottom: 35px;
  }
}

/*
This keeps the footer from spilling over at small sizes
*/

@media screen and (max-width: 350px) {
  h1 {
    font-size: 3em;
  }
  footer {
    font-size: 95%;
  }
}

@media screen and (min-width: 350px) {
  h1 {
    font-size: 4em;
  }
  .form {
    margin-top: 20%;
  }
}

/*
End @media requests
*/

/* css relevant for the whole website */

html {
  height: 100%;
}

.content {
  padding-top: 12%;
  text-align: center;
}

.font {
  font-family: 'open sans', helvetica, arial, sans;
}

body {
  margin: 0;
}

.active {
  background-color: #4CAF50;
}

.header {
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.error-message {
  color: red;
  visibility: hidden;
}
/* End code relevant to the entire website */

/* Result page code */
table {
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.table {
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.table th{
  background-color: #4CAF50;
}

.table tr {
    transition: background 0.2s ease-in;
}

.table tr:hover {
    background: silver;
    cursor: pointer;
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}

.resultName {
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding-bottom: 30px;
  text-align: left;
}
/* End result page code */

/*Homepage code*/
.homepageSubmit {
  display: block;
  background: #4CAF50;
  width: 25%;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  border: 0px;
  margin: auto;
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
}

#mainPageTitle {
  color: #fff;
}
/*End Homepage code*/

/* Individual result code */
#map {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 500px;
}
/* End individual result code */


/* Search page code*/
.search {
  padding-top: 1%;
}
/* End search page code */

/*Login and Registration form code*/

.form{
  text-align: center;
  width: 70%;
  height: 20%;
  background: #edeff1;
  margin: 0px auto;
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  border-radius: 10px;

}

.registration {
  margin-bottom: 5%;
}

h4 {
  text-align: left;
  padding-left: 19.5%;
}

input[type="text"], input[type="password"], input[type="search"], input[type="email"]{
  display: block;
  width: 60%;
  height: 35px;
  margin: 15px auto;
  background: #fff;
  border: 0px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="search"]:focus{
  border: 2px solid #1abc9d
}

input[type="submit"]{
  display: block;
  background: #4CAF50;
  width: 50%;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  border: 0px;
  margin: auto;
  border-radius: 5px;
  font-size: 17px;
}

input[type="submit"]:hover{
  background: #09cca6
}

select {
  display: block;
  width: 61%;
  height: 35px;
  margin: 15px auto;
  background: #fff;
  border: 0px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
}

/*End login and registration form code*/

/*
Geolocation styling
*/

#geoLocateIcon {
  font-size: 48px;
}

#geoLocateButton {
  background: inherit;
  cursor: inherit;
  color: inherit;
  border: 0px;
  font-size: 17px;
}

#geoLocateDiv {
  display: inline-block;
  background: #4CAF50;
  width: 50%;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

#geoLocateDiv:hover {
  background: #09cca6
}

/*
End Geolocation code
*/

/* Homepage Video Code */

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* /Homepage Video Code */

/*Loading Spinner*/
.onLoad {
  height: 100%;
  width: 100%;
  background: rgba(36, 36, 36, 1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}

.spinnerText {
  text-align: center;
  color: white;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  margin: auto;
  display: inline-block;
}

.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  border: 4px solid transparent;
  border-top-color: orangered;
  border-bottom-color: orangered;
  animation: spinny 1s linear infinite;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
/*End Loading Spinner*/
