/*
This adds padding to the content if the screen is too small so that elements do
not get covered by the footer
*/
@media screen and (max-height: 750px) {
  body {
    padding-bottom: 60px;
  }
}

/*
This keeps the footer from spilling over at small sizes
*/
@media screen and (max-width: 350px) {
  footer {
    font-size: 95%;
  }
}

.content {
  padding-top: 12%;
  background-image: url("/assets/images/homepageImage.jpg");
  text-align: center;
}

.font {
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#registrationForms {
  background-color: #cccccc;
  width: 270px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 0%;
}

.formElement {
  padding-top: 1%;
  padding-bottom: 3%;
}

.searchBar {
  padding-left: 2%;
}

table {
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.table {
  padding-top: 5%;
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}

.resultName {
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

#map {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 500px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding-bottom: 30px;
  text-align: left;
}

.search {
  padding-top: 1%;
}

/* Carousel Code */

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked~.control-1, #carousel-2:checked~.control-2, #carousel-3:checked~.control-3 {
  display: block;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet, #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet, #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

/* Carousel Code */
