/*
This adds padding to the content if the screen is too small so that elements do
not get covered by the footer
*/
@media screen and (max-height: 750px) {
  body {
    padding-bottom: 60px;
  }
}

/*
This keeps the footer from spilling over at small sizes
*/
@media screen and (max-width: 350px) {
  h1 {
    font-size: 3em;
  }
  footer {
    font-size: 95%;
  }
}

@media screen and (min-width: 350px) {
  h1 {
    font-size: 4em;
  }
}

h1 {
  color:white;
}


.content {
  padding-top: 12%;
  background-image: url("/assets/images/homepageImage.jpg");
  text-align: center;
}

.font {
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#registrationForms {
  background-color: #cccccc;
  width: 270px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 0%;
}

.formElement {
  padding-top: 1%;
  padding-bottom: 3%;
}

.searchBar {
  padding-left: 2%;
}

table {
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.table {
  padding-top: 5%;
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}

.resultName {
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

#map {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 500px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding-bottom: 30px;
  text-align: left;
}

.search {
  padding-top: 1%;
}

/* Homepage Video Code */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
/* /Homepage Video Code */
